function formatNumber(n) {
  n = n.toString()
  return n[1] ? n : 0 + n
}
module.exports = {
  formatTime: function (date, mode) {
    var date = getDate(date)
    var year = date.getFullYear()
    var month = date.getMonth() + 1
    var day = date.getDate()
    var hour = date.getHours()
    var minute = date.getMinutes()
    var second = date.getSeconds()
    if (mode === 'yy-mm-dd') {
      return [year, month, day].map(formatNumber).join('-')
    }
    return [year, month, day].map(formatNumber).join('-') + ' ' + [hour, minute, second].map(formatNumber).join(':')
  },
  //保留两位
  toFixed2: function (x) {
    if(typeof x === 'string') {
      x = parseFloat(x)
    }
    return x;
  },
  parseStatus: function(status) {
    // 状态 4:待审核 1:正常 2:下架 3:审核未通过 0:所有
    if(status===1){
      return '在售'
    } else if(status===2) {
      return '下架'
    } else if(status===3){
      return '未通过'
    }else if(status===4) {
      return '待审'
    } else {
      return ''
    }
  }

}